* {
  box-sizing: border-box;
  /* border: solid 1px black; */
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  width: 100%;
  height: 100%;
}

body.fixed {
  width: 100%;
  position: fixed;
}

a {
  text-decoration: none;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

h2 {
  font-weight: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

h3 {
  font-weight: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

/*==========ここからヘッダー==========*/

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  z-index: 20;
  position: fixed;
}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1104px;
}

.header_left {
  display: inline-block;
}

.header_right {
  width: 100%;
}

.water_btn.header_btn {
  color: #FFF;
  font-size: 1.6rem;
  padding: 5% 11.4%;
  border-radius: 3rem;
}

.header_footer_btn_triangle {
  margin-left: 5%;
  margin-bottom: -3%;
}

.right_list {
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;
  width: 100%;
  margin-left: 5%;
}

.right_list li:not(:last-child) {
  margin-right: 5%;
}

.right_list li:last-child {
  width: 35%;
}

.right_list li a {
  color: #52330D;
  transition: all 2s;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.5rem;
}

.right_list a:hover {
  color: #B17F43;
}

.toggle_btn {
  display: block;
  position: static;
  width: 40px;
  transition: all .5s;
  cursor: pointer;
  z-index: 40;
  margin-right: 5%;
}

.toggle_btn span{
  display: block;
  position: static;
  width: 40px;
  height: 3px;
  background-color: #F5A629;
  border-radius: 4px;
  transition: all 0.5s;
}

.toggle_btn span:nth-child(1) {
  margin-top: 0px;
}
.toggle_btn span:nth-child(2) {
  margin-top: 10px;
}
.toggle_btn span:nth-child(3) {
  margin-top: 10px;
}
.open .toggle_btn span {
  background-color: #F5A629;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(12px) rotate(-315deg);
  transform: translateY(12px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(315deg);
  transform: translateY(-15px) rotate(315deg);
}

#kv_section {
  background-image: url("./img/mv_bottle.png"), url("./img/beautiful-tropical-beach.jpg");
  background-size: auto, cover;
  background-position: left 97% top 95%, center;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh; /* 836px */
}

.kv_container {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 120px 0 0 0;
}

.kv_text_wrap {
  margin: 30% 0 0 0;
}

.mv_bottle {
  display: none;
}

.kv_slogan {
  margin-bottom: 1rem;
}

.kv_message {
  color: white;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 3.9%;
  margin-top: 0;
}

#campaign_section_first {
  background-color: #076E95;
  position: relative;
}

.campaign_container_first {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0 220px 0;
}

.company_section_title {
  font-size: 56px;
}

.campaign_btn_wrap {
  text-align: center;
}

.campaign_btn {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 2.8rem;
  font-weight: bold;
  position: static;
  text-align: center;
  width: 42.9%;
}

.campaign_btn_triangle {
  margin-left: 5%;
  margin-bottom: -1%;
}

.water_btn.campaign_btn {
  padding: 3.5% 7%;
  border-radius: 5rem;
}

.limited_pack_title {
  text-align: center;
  margin-bottom: 4.5%;
  position: static;
}

.limited_middle_section {
  background-image: url("./img/campaign_text.png"), url("./img/background.jpg");
  background-repeat: no-repeat;
  background-position: left -1% top -2%, center;
  background-size: 60%, cover;
  margin-top: 2%;
}

.limited_pack_image {
  margin: 0 23% 0 auto;
  position: static;
  padding: 11.5% 0;
  width: 62.8%;
}

.section1_fruits_left {
  margin-top: -13%;
  margin-left: 6.8%;
  position: static;
}

.section1_fruits_right {
  position: static;
}

.section1_fruits_right img {
  display: block;
  margin-top: -30%;
  margin-left: auto;
}

.campaign_product_wrap {
  color: #FFF;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: static;
  margin-top: 6%;
  margin-bottom: 11%;
}

.campaign_product_wrap p {
  margin-top: 0;
  margin-bottom: 0;
}

.campaign_product_name {
  margin-right: 1.5%;
}

.campaign_product_halfdozen {
  margin-right: 7%;
}

#campaign_section_second {
  background-color: #076E95;
  position: relative;
}

.campaign_container_second_top {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0 0 0;
}

.campaign_container_second_bottom {
  max-width: 1312px;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 220px 0;
}

.limited_middle_section_second {
  background-image: url("./img/limited_pack_text1.svg"), url("./img/limited_pack_text2.svg"), url("./img/limited_pack_text3.svg"), url("./img/background.jpg");
  background-repeat: no-repeat;
  background-position: left 1% top 22%, left 13% top 27%, left 93% top 6%, center;
  margin-top: -10%;
}

.limited_pack_image_second {
  position: static;
  margin-left: 14.7%;
  padding-top: 12.5%;
  padding-bottom: 8%;
}

.section2_fruits_leftup {
  position: static;
  margin-top: -18%;
  margin-left: -10%;
}

.section2_fruits_rightdown {
  display: block;
  position: relative;
  margin: -18% 0 -4% auto;
}

.sp_section2_fruits_rightdown {
  display: none;
}

#benefit_section {
  position: relative;
  padding-bottom: 140px;
}

.benefit_container {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0;
}

.benefit_container_top {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0 0 0;
}

.benefit_container_bottom {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 180px 0;
}

.benefit_top_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  width: 100%;
  height: 100%;
  margin-top: 2%;
  margin-bottom: 9%;
  padding-right: 4%;
}

.benefit_middle_bg {
  background-image: url("./img/splash.png");
  background-repeat: no-repeat;
  background-position: -5% 88%;
  padding-bottom: 220px;
}

.benefit_middle_section {
  background-image: url("./img/splash.png");
  margin-left: -20%;
  margin-bottom: 95px;
  padding-bottom: 30%;
}

.benefit_voices {
  margin-top: -90%;
}

.voice1 {
  position: static;
  margin-left: -2%;
}

.voice2 {
  position: static;
  margin-left: 7%;
}

.voice3 {
  position: static;
  margin-top: 25%;
  margin-left: 10%;
}

.voice4 {
  position: static;
  margin-top: -1%;
  float: right;
}

.cheers {
  width: 72.4%;
  margin: 0 0 0 auto;
}

#product_section {
  position: relative;
  width: 100%;
}

.product_container_top {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0 0 0;
}

.product_container_bottom {
  max-width: 1312px;
  height: 100%;
  margin: 0 auto;
  padding: 0 0 180px 0;
}

.product_slogan_top {
  font-size: 3.5rem;
  font-family: 'Noto Serif JP', sans-serif;
  position: static;
  margin-top: 0%;
  margin-left: -1%;
}

.orange_text {
  color: #F3A829;
}

.blue_text {
  color: #076E95;
}

.product_text_wrap{
  width: 48.5%;
  margin-top: 9%;
  margin-left: 1%;
}

.product_pacificale_title {
  font-size: 2.5rem;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: bold;
  position: static;
  top: 20.1%;
  left: 12.8%;
  display: inline-block;
  margin-bottom: 0.3%;
}

.product_pacificale_title::after {
  content: '';
  display: block;
  width: 100%;/*線の長さ*/
  height: 3px;/*線の太さ*/
  /*位置調整*/
  background-color: #F5A629;/*線の色*/
  border-radius: 2px;/*線の丸み*/
  margin-top: 10px;
}

.product_pacificale_comment {
  font-size: 2rem;
  font-family: 'Noto Serif JP', sans-serif;
  position: static;
  margin-top: 12%;
  margin-left: -3%;
}

.product_beer {
  display: block;
  margin-top: -48%;
  margin-left: auto;
  width: 80%;
}

.product_slogan_middle {
  text-align: center;
  margin-top: 2%;
  margin-left: -2%;
}

.product_lager_area {
  margin-top: 12%;
  padding-bottom: 300px;
}

.product_lager_comment {
  font-size: 2rem;
  font-family: 'Noto Serif JP', sans-serif;
  position: static;
  width: 53%;
  margin-left: auto;
}

.product_tropical_comment {
  font-size: 2rem;
  font-family: 'Noto Serif JP', sans-serif;
  margin-top: 13%;
  margin-right: 11%;
  margin-left: auto;
  width: 42%;
}

.fruits_beer{
  margin-top: -63%;
  margin-left: auto;
  width: 95%;
}

.fruits_beer img {
  width: 100%;
}

#company_section {
  background-image: url("/assets/img/background.jpg");
  position: relative;
}

.company_container {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0;
}

.company_title {
  font-size: 3.5rem;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: bold;
  margin-top: -3%;
  margin-left: 7%;
}

.company_comment {
  font-size: 2rem;
  font-family: 'Noto Serif JP', sans-serif;
  margin-top: 4%;
  margin-right: 12%;
  margin-left: 6.8%;
}

.company_image_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 74px;
}

.hibiscus {
  object-fit: contain;
  margin-top: -5%;
  margin-left: -2%;
}

.sns_container {
  max-width: 1104px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0;
}

.instagram_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
}

.instagram_area a img {
  width: 350px;
  height: 338px;
}

.instagram_area a:not(:last-child) {
  margin-right: 2%;
}

.sns_icon_section {
  margin: 0 14.6%;
}

.sns_icon_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
  padding-top: 1%;
}

.sns_icon_area a img {
  margin: 0 1.736vw;
}

.sns_section_text p {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

footer {
  position: relative;
  width: 100%;
}

.footer_container {
  max-width: 1104px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 22px;
}

.warning_message_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: 0.5%;
  width: 100%;
}

.warning_icon {
  margin-right: 1.6%;
}

.warning_text {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.5rem;
}

.fix_bg{
  background-image: url("./img/background.jpg");
  background-position: left;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.footer_middle_section {
  width: 100%;
  height: 100%;
}

.footer_middle_contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 6%;
}

.footer_logo {
  position: static;
  margin-top: -5%;
  width: 35%;
}

.footer_list {
  position: static;
  margin-top: -3%;
  margin-left: 3%;
  width: 50%;
}

.footer_list li {
  list-style: none;
  margin-bottom: 27px;
}

.footer_list li a {
  color: #101010;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.5rem;
}

.footer_btn_wrap {
  text-align: center;
  margin: 15% 0 0 0;
  width: 100%;
}

.footer_btn {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.625rem;
  position: static;
}

.water_btn.footer_btn {
  border-radius: 3rem;
  padding: 5% 10%;
}

.footer_company_info {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.5rem;
  position: static;
  margin: 13% 0 0 0;
  width: 100%;
}

.footer_company_info li {
  list-style: none;
}

.footer_company_info li:not(:last-child) {
  margin-bottom: 5%;
}

.copyright {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.25rem;
  position: static;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 2.5%;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s; /* 2秒かけてセクションを表示 */
  animation-fill-mode: forwards; /* アニメーション完了後は表示されたままにする */
  opacity: 0; /* アニメーション前に表示されているセクションを非表示にする */
}
@keyframes fadeUpAnime {

  from {
    opacity: 0; /* 初めはセクションを表示しない */
    transform: translateY(150px); /* スタート地点は中心から150px下 */
  }

  to {
    opacity: 1; /* アニメーション完了後はセクションを表示 */
    transform: translateY(0); /* 表示箇所は中心なので、下から上に上がるアニメーションになる */
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger{
  opacity: 0;
}

.water_btn {
  padding: 1rem;
  border: 3px solid #F5A629;
  border-radius: 2rem;
  cursor: pointer;
  background-image: radial-gradient(circle at 50% 0, #F5A629 0%, #F5A629 50%, #008CFF 50%, #008CFF 100%); /* オレンジの範囲を0~50%まで、それより外は青 */
  background-size: 200% 400%; /* 幅100%, 高さ 400% */
  background-repeat: no-repeat; /* 背景画像を繰り返さない */
  background-position: 50% 0%;
  color: #FFF;
  transition: all 1.5s; /* 1.5秒かけて滑らかに切り替わる */
}

.water_btn:hover {
  border: 3px solid #008CFF;
  background-position: 50% 150%; /* radial-gradient が下に広がる（y軸に100%）*/
  background-color: #008CFF;
  opacity: 1;
}

.clear {
  clear: left;
}



/*** レスポンシブ ***/

@media screen and (min-width: 1441px) {
  .benefit_middle_bg {
    background-position: center 80%;
  }
}

@media screen and (min-width: 481px) {
  .toggle_btn {
    display: none;
  }

  .header_sns_icon_area {
    display: none;
  }

  .sp_section1_fruits_left {
    display: none;
  }

  .sp_section1_fruits_right {
    display: none;
  }

  .sp_benefit_fruits {
    display: none;
  }

  .sp_product_beer {
    display: none;
  }

  .sp_hibiscus {
    display: none;
  }

}

@media all and (max-width: 480px) {

  .header_container {
    max-width: 448px;
  }

  .header_left a {
    display: block;
  }

  .header_logo {
    width: 40%;
    margin-left: 3%;
    margin-top: 10%;
  }

  .right_list {
    /* opacity: 0; */
    height: 66vh;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    /* transition: all 0.8s linear; */
    transition: all .7s;;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    top: 0;
    /* リストの位置を top ではなく padding-top の空白を使って調節 */
    padding-top: 23%;
    /* left: 50%; */
    right: -150%;
    width: 70%;
    transform: translate(-50%);
    z-index: 30;
  }

  .open .right_list {
    right: -35%;
  }

  .right_list li:not(:last-child) {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 32px;
    font-size: 1.5rem;
  }

  .right_list a {
    color: #52330D;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Noto Serif JP', sans-serif;
  }

  .right_list li:nth-last-of-type(2) {
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 20%;
    width: 100%;
  }

  .right_list li:nth-last-of-type(3) {
    font-size: 1.25rem;
    margin-bottom: 0px;
  }

  .right_list li:last-child {
    width: 100%;
  }

  .header_sns_icon_area {
    width: 100%;
  }

  .header_sns_icon {
    display: inline-block;
    margin-right: 5%;
  }

  .header_sns_icon img {
    width: 37px;
    height: 37px;
  }

  .water_btn.header_btn {
    font-size: 1.3rem;
    padding: 15px 30px;
  }

  .header_footer_btn_triangle {
    margin-left: 3%;
  }

  #kv_section {
    background-image: url("./img/beautiful-tropical-beach.jpg");
    background-size: cover;
    background-position: 20% center;
    height: 100vh; /* 854px */
  }

  .kv_container {
    padding: 88px 0 0 0;
    max-width: 448px;
  }

  .kv_text_wrap {
    margin: 25% 0 0 5%;
  }

  .kv_slogan {
    width: 94%;
    height: 62px;
    margin: 0 3%;
  }

  .kv_message {
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
  }

  .mv_bottle {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 3.5vh;
    object-fit: cover;
    width: 80%;
    height: 60%;
  }

  .campaign_container_first {
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
  }

  .limited_pack_title {
    margin-bottom: 6.5%;
  }

  .section1_fruits_left {
    display: none;
  }

  .section1_fruits_right {
    display: none;
  }

  .sp_section1_fruits_left {
    margin-top: -20%;
  }

  .sp_section1_fruits_right {
    margin-top: -30%;
    margin-left: 70%;
  }

  .sp_section1_fruits_left img {
    width: 30%;
  }

  .sp_section1_fruits_right img {
    margin-top: -20%;
  }

  .campaign_product_wrap {
    font-size: 1.5rem;
    margin-top: 0%;
    margin-bottom: 16%;
  }

  .campaign_product_halfdozen {
    margin-right: 0;
  }

  .campaign_product_price {
    padding-top: 15px;
  }

  .campaign_btn {
    font-size: 2rem;
  }

  .campaign_btn_triangle {
    width: 7%;
    height: 50%;
    margin-bottom: -2%;
  }

  .water_btn.campaign_btn {
    padding: 3.5% 5%;
  }

  .limited_middle_section {
    background-size: 70%, cover;
    background-position: left 5% top -3%;
    margin-top: 0%;
    padding-bottom: 4%;
  }

  .limited_pack_image {
    padding: 8% 0 0 0;
    width: 70%;
  }

  #benefit_section {
    padding-bottom: 0px;
  }

  .benefit_container {
    max-width: 400px;
    padding: 100px 0;
  }

  .benefit_container_top {
    max-width: 400px;
    padding: 100px 0 0 0;
  }

  .benefit_container_bottom {
    max-width: 400px;
    padding: 0 0 100px 0;
  }

  .benefit_middle_bg {
    background-position: 50% 65%;
    background-size: 120% 60%;
  }

  .benefit_middle_section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100%;
    margin-left: 0%;
    margin-bottom: 0%;
  }

  .benefit_top_section {
    margin-bottom: 0px;
  }

  .benefit_title {
    margin: 1% 5% 0 5%;
    width: 80%;
  }

  .benefit_fruits {
    display: none;
  }

  .sp_benefit_fruits {
    display: block;
    margin-top: -30%;
    margin-left: auto;
  }

  .cheers {
    width: 100%;
    margin: 40% 0 0 0;
  }

  .cheers img {
    height: 324px;
  }

  .benefit_voices {
    margin-top: -120%;
  }

  .voice1 {
    width: 50%;
  }

  .voice2 {
    width: 50%;
    margin: -8% 0 55% auto;
  }

  .voice3 {
    margin: 0 0 -3% -2%;
  }

  .voice4 {
    margin: 0 0 0 auto;
  }

  .limited_middle_section_second {
    background-image: url("./img/sp_limited_pack_text1.svg"), url("./img/sp_limited_pack_text2.svg"), url("./img/background.jpg");
    background-size: 40% ,30%, 100% 100%;
    background-position: left 1% top 5%, left 95% top 0%, center;
    margin-top: 5%;
  }

  .limited_pack_image_second {
    margin-top: 0px;
    padding-top: 7.5%;
    padding-bottom: 9%;
    width: 65%;
  }

  .campaign_container_second_top {
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0 0 0;
  }

  .campaign_container_second_bottom {
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 100px 0;
  }

  .section2_fruits_leftup {
    display: none;
  }

  .section2_fruits_rightdown {
    display: none;
  }

  .sp_section2_fruits_rightdown {
    display: block;
    margin-top: -20%;
    margin-left: auto;
  }

  .product_container_top {
    max-width: 400px;
    padding: 100px 0 0 0;
  }

  .product_container_bottom {
    max-width: 400px;
    padding: 0 0 100px 0;
  }

  .product_slogan_top {
    font-size: 1.375rem;
    margin: 0 5%;
  }

  .product_text_wrap {
    margin-top: 0%;
    width: 100%;
  }

  .product_pacificale_title {
    font-size: 1.25rem;
    text-align: center;
    width: 100%;
  }

  .product_pacificale_title::after {
    width: 100%;
  }

  .product_pacificale_comment {
    font-size: 1.125rem;
    margin: 6% 1% 0 1%;
  }

  .product_slogan_middle {
    margin-top: 19%;
    margin-left: 6%;
  }

  .product_slogan_middle img {
    width: 80%;
  }

  .product_lager_area {
    margin-top: 53px;
    margin-right: 0%;
  }

  .product_lager_comment {
    font-size: 1rem;
    width: 50%;
    margin-top: -3%;
    margin-left: auto;
  }

  .product_tropical_comment {
    font-size: 1rem;
    width: 50%;
    margin-top: 9%;
    margin-right: 0%;
    margin-left: auto;
  }

  .product_beer {
    display: none;
  }

  .fruits_beer {
    margin-top: -140%;
    margin-left: -7%;
    width: 100%;
  }

  .sp_product_beer {
    display: inline-block;
    margin-top: 5%;
  }

  .company_container {
    max-width: 400px;
    padding: 100px 0 0 0;
  }

  .company_text_wrap {
    margin-left: -7%;
    margin-top: 8%;
  }

  .company_title {
    font-size: 1.5rem;
  }

  .company_comment {
    font-size: 1.125rem;
    margin-right: 8%;
  }

  .company_image_area {
    display: block;
  }

  .hibiscus {
    display: none;
  }

  .sp_hibiscus {
    width: 50%;
    height: 186px;
    margin-top: -20%;
    margin-left: -5%;
  }

  .about_company {
    width: 69%;
    margin: 0 0 0 auto;
  }

  .sns_container {
    max-width: 400px;
    padding: 163px 0 100px 0;
  }

  .instagram_area {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
    margin: -2% auto 0 auto;
  }

  .instagram_area a img {
    width: 100%;
    height: 100%;
  }

  .instagram_area a:not(:last-child) {
    margin-bottom: 20px;
  }

  .sns_section_text {
    margin-top: 30%;
    margin-bottom: 5%;
  }

  .sns_section_text p {
    margin-block-start: 0px;
    margin-block-end: 0px;
  }

  .sns_icon_area {
    justify-content: space-around;
  }

  .sns_icon_area a img {
    margin: 0 auto;
  }

  .sns_icon {
    width: 10%;
    height: 10%;
  }

  .fix_bg {
    background-position: left top;
    background-size: 82.3%;
  }

  .footer_middle_contents {
    display: inline-block;
  }

  .footer_logo {
    float: left;
    width: 14%;
    margin-top: 12%;
  }

  .footer_btn_wrap {
    margin: 0 0 0 auto;
    width: 63.2%;
  }

  .footer_list {
    float: none;
    margin: 2% 0 0 34%;
  }

  .footer_list li a {
    font-size: 1.125rem;
  }

  .footer_btn {
    font-size: 1.375rem;
    margin-top: -10%;
  }

  .water_btn.footer_btn {
    padding: 5% 5%;
  }

  .footer_company_info {
    font-size: 0.875rem;
    margin-top: 6%;
  }

  .footer_company_info li {
    text-align: center;
  }

  .footer_company_info li:not(:last-child) {
    margin-bottom: 2.5%;
  }

  .warning_message_wrap {
    flex-direction: column;
    margin-top: 5%;
  }

  .warning_icon {
    width: 6%;
  }

  .warning_text {
    font-size: 1rem;
    margin: 2% 10.3%;
  }

  .footer_container {
    max-width: 448px;
  }

  .copyright {
    font-size: 0.8125rem;
    margin-top: 0%;
  }
}