* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
  width: 100%;
  height: 100%;
}

body.fixed {
  width: 100%;
  position: fixed;
}

a {
  text-decoration: none;
}

ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
}

h2 {
  font-weight: normal;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.container {
  width: 100%;
  padding: 0 11.667vw;
}

/*==========ここからヘッダー==========*/

header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  z-index: 20;
  position: fixed;
}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1104px;
}

.header_left {
  display: inline-block;
}

.header_right {
  width: 100%;
}

.water_btn.header_btn {
  padding: 5% 11.4%;
}

.header_footer_btn_triangle {
  margin-left: 10%;
  margin-bottom: -3%;
}

.right_list {
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;
  width: 100%;
}

.right_list li:not(:last-child) {
  margin-right: 5%;
}

.right_list li:last-child {
  width: 35%;
}

.right_list li a {
  color: #52330D;
  transition: all 2s;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.5rem;
}

.right_list a:hover {
  color: #B17F43;
}

.right_list li a.water_btn {
  color: #FFF;
  font-size: 1.6rem;
}

.toggle_btn {
  display: block;
  position: absolute;
  top: 120px;
  left: 82.3%;
  width: 30px;
  height: 20px;
  transition: all .5s;
  cursor: pointer;
  z-index: 40;
}

.toggle_btn span{
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 1px;
  background-color: #F5A629;
  border-radius: 4px;
  transition: all 0.5s;
}

.toggle_btn span:nth-child(1) {
  top: 0px;
}
.toggle_btn span:nth-child(2) {
  top: 9.5px;
}
.toggle_btn span:nth-child(3) {
  top: 19px;
}
.open .toggle_btn span {
  background-color: #F5A629;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(-315deg);
  transform: translateY(9px) rotate(-315deg);
}
.open .toggle_btn span:nth-child(2) {
  opacity: 0;
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translateY(-9px) rotate(315deg);
  transform: translateY(-9px) rotate(315deg);
}

#kv_section {
  background-image: url("./img/beautiful-tropical-beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100vh;
}

.kv_container {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 120px 0 0 0;
}

.kv_text_wrap {
  margin-top: -30%;
  height: 100%;
}

.mv_bottle {
  margin-top: 8%;
  margin-left: 57%;
  object-fit: cover;
  width: 45%;
  height: 80%;
}

.sp_mv_bottle {
  display: none;
}

.kv_slogan {
  margin-bottom: 1rem;
}

.kv_message {
  color: white;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-left: 3.9%;
  margin-top: 0;
  margin-bottom: 0;
}

#campaign_section_first {
  background-color: #076E95;
  position: relative;
}

.campaign_container {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0;
}

.company_section_title {
  font-size: 56px;
}

.campaign_btn_wrap {
  text-align: center;
}

.campaign_btn {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 2.8rem;
  position: static;
  text-align: center;
  width: 42.9%;
}

.campaign_btn_triangle {
  margin-left: 5%;
  margin-bottom: -1%;
}

.water_btn.campaign_btn {
  padding: 3% 11.4%;
  border-radius: 4rem;
}

.limited_pack_title {
  text-align: center;
  margin-bottom: 4.5%;
  position: static;
}

.limited_middle_section {
  background-image: url("./img/campaign_text.svg"), url("./img/background.jpg");
  background-repeat: no-repeat;
  background-position: left 6.8% top 0%, center;
  background-size: 50%, cover;
}

.limited_pack_image {
  margin-left: 14.7%;
  position: static;
}

.section1_fruits_left {
  margin-top: -10%;
  margin-left: 6.8%;
  position: static;
}

.section1_fruits_right {
  margin-top: -30%;
  margin-left: 70%;
  position: static;
}

.campaign_product_wrap {
  color: #FFF;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 2.25em;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: static;
  margin-top: 77px;
  margin-bottom: 75px;
}

.campaign_product_wrap p {
  margin-top: 0;
  margin-bottom: 0;
}

.campaign_product_name {
  margin-right: 1.5%;
}

.campaign_product_halfdozen {
  margin-right: 11.5%;
}

#campaign_section_second {
  background-color: #076E95;
  position: relative;
}

.limited_middle_section_second {
  background-image: url("./img/limited_pack_text1.svg"), url("./img/limited_pack_text2.svg"), url("./img/limited_pack_text3.svg"), url("./img/background.jpg");
  background-repeat: no-repeat;
  background-position: left 1% top 20%, left 15% top 28%, left 90% top 5%, center;
}

.limited_pack_image_second {
  position: static;
  margin-top: -12%;
  margin-left: 14.7%;
  padding-top: 4.5%;
}

.section2_fruits_leftup {
  position: static;
  margin-top: -10%;
  margin-left: -8%;
}

.section2_fruits_rightdown {
  position: relative;
  margin-top: -20%;
  margin-left: 90%;
}

.sp_section2_fruits_rightdown {
  display: none;
}

#benefit_section {
  position: relative;
  padding-bottom: 180px;
}

.benefit_container {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0;
}

.benefit_top_section {
  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: left; */
  width: 100%;
  height: 100%;
  margin-bottom: 136px;
}

.benefit_title {
  margin-left: 24.9%;
}

.benefit_middle_section {
  background-image: url("./img/splash.png");
  margin-left: -20%;
  margin-bottom: 95px;
  padding-bottom: 30%;
}

.benefit_voices {
  margin-top: -130%;
}

.voice1 {
  position: static;
}

.voice2 {
  position: static;
  margin-left: 9%;
}

.voice3 {
  position: static;
  margin-top: 16%;
  margin-left: 9%;
}

.voice4 {
  position: static;
  margin-left: 39.5%;
}

.cheers {
  margin-left: 21%;
  padding-left: 18.5%;
}

#product_section {
  position: relative;
  width: 100%;
}

.product_container {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0;
}

.product_slogan_top {
  font-size: 3.5rem;
  font-family: 'Noto Serif JP', sans-serif;
  position: static;
  left: 10.8%;
}

.orange_text {
  color: #F3A829;
}

.blue_text {
  color: #076E95;
}

.product_text_wrap{
  width: 48.5%;
}

.product_pacificale_title {
  font-size: 2.5rem;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: bold;
  position: static;
  top: 20.1%;
  left: 12.8%;
  display: inline-block;
  margin-bottom: 0.3%;
}

.product_pacificale_title::after {
  content: '';
  display: block;
  width: 27.8vw;/*線の長さ*/
  height: 3px;/*線の太さ*/
  /*位置調整*/
  background-color: #F5A629;/*線の色*/
  border-radius: 2px;/*線の丸み*/
  margin-top: 10px;
}

.product_pacificale_comment {
  font-size: 2rem;
  font-family: 'Noto Serif JP', sans-serif;
  position: static;
  top: 25.8%;
  left: 11.3%;
}

.product_beer {
  margin-top: -46%;
}

.product_slogan_middle {
  text-align: center;
  margin-bottom: 17px;
}

.product_lager_area {
  width: 44.3%;
  margin-left: auto;
  margin-top: 140px;
  margin-right: 10%;
}

.product_lager_comment {
  font-size: 2rem;
  font-family: 'Noto Serif JP', sans-serif;
  position: static;
  margin: 0 0 0 auto;
  width: 100%;
}

.product_tropical_comment {
  font-size: 2rem;
  font-family: 'Noto Serif JP', sans-serif;
}

.fruits_beer{
  margin-top: -38%;
}

.fruits_beer img {
  width: 100%;
}

#company_section {
  background-image: url("/assets/img/background.jpg");
  position: relative;
}

.company_container {
  max-width: 1104px;
  height: 100%;
  margin: 0 auto;
  padding: 180px 0;
}

.company_title {
  font-size: 3.5rem;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: bold;
  margin-bottom: 49px;
}

.company_comment {
  font-size: 2rem;
  font-family: 'Noto Serif JP', sans-serif;
  margin-right: 39.4%;
}

.company_image_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hibiscus {
  object-fit: contain;
}

.instagram_area {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 180px;
  width: 100%;
}

.instagram_area a img {
  margin: 0 0.938vw;
  width: 350px;
  height: 338px;
}

.sns_icon_area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-bottom: 180px;
  width: 100%;
}

.sns_icon_area a img {
  margin: 0 1.736vw;
}

.sns_section_text {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

footer {
  position: relative;
  width: 100%;
}

.footer_container {
  max-width: 1104px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 22px;
}

.warning_message_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  width: 100%;
}

.warning_icon {
  margin-right: 1.6%;
}

.warning_text {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.5rem;
}

.fix_bg{
  background-image: url("./img/background.jpg");
  background-position: left;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.footer_middle_section {
  width: 100%;
  height: 100%;
}

.footer_middle_contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footer_logo {
  position: static;
  margin-right: 2.8%;
}

.footer_list {
  position: static;
  width: 100%;
}

.footer_list li {
  list-style: none;
  margin-bottom: 27px;
}

.footer_list li a {
  color: #101010;
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.5rem;
}

.footer_btn {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.625rem;
  position: static;
  width: 100%;
  text-align: center;
  margin: 20% 3% 0 0;
}

.footer_company_info {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.5rem;
  position: static;
  margin: 20% 0 0 0;
  width: 100%;
}

.copyright {
  font-family: 'Noto Serif JP', sans-serif;
  font-size: 1.25rem;
  position: static;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 2.5%;
}

.fadeUp {
  animation-name: fadeUpAnime;
  animation-duration: 2s; /* 2秒かけてセクションを表示 */
  animation-fill-mode: forwards; /* アニメーション完了後は表示されたままにする */
  opacity: 0; /* アニメーション前に表示されているセクションを非表示にする */
}
@keyframes fadeUpAnime {

  from {
    opacity: 0; /* 初めはセクションを表示しない */
    transform: translateY(150px); /* スタート地点は中心から150px下 */
  }

  to {
    opacity: 1; /* アニメーション完了後はセクションを表示 */
    transform: translateY(0); /* 表示箇所は中心なので、下から上に上がるアニメーションになる */
  }
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.fadeUpTrigger{
  opacity: 0;
}

.water_btn {
  padding: 1rem;
  border: 3px solid #F5A629;
  border-radius: 2rem;
  cursor: pointer;
  background-image: radial-gradient(circle at 50% 0, #F5A629 0%, #F5A629 50%, #008CFF 50%, #008CFF 100%); /* オレンジの範囲を0~50%まで、それより外は青 */
  background-size: 200% 400%; /* 幅100%, 高さ 400% */
  background-repeat: no-repeat; /* 背景画像を繰り返さない */
  background-position: 50% 0%;
  color: #FFF;
  transition: all 1.5s; /* 1.5秒かけて滑らかに切り替わる */
}

.water_btn:hover {
  border: 3px solid #008CFF;
  background-position: 50% 150%; /* radial-gradient が下に広がる（y軸に100%）*/
  background-color: #008CFF;
  opacity: 1;
}

.clear {
  clear: left;
}



/*** レスポンシブ ***/

@media screen and (min-width: 480px) {
  .toggle_btn {
    display: none;
  }

  .sp_section1_fruits_left {
    display: none;
  }

  .sp_section1_fruits_right {
    display: none;
  }

}

@media all and (max-width: 480px) {

  header {
    padding: 0 25px;
  }

  .header_container {
    max-width: 400px;
  }

  .header_logo {
    width: 84px;
    height: 84px;
    margin-left: 0px;
  }

  .right_list {
    /* opacity: 0; */
    height: 100vh;
    display: block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.95);
    /* transition: all 0.8s linear; */
    transition: all .7s;;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    top: 0;
    /* リストの位置を top ではなく padding-top の空白を使って調節 */
    padding-top: 125px;
    /* left: 50%; */
    right: -150%;
    width: 70%;
    transform: translate(-50%);
    z-index: 30;
  }

  .open .right_list {
    right: -50%;
  }

  .right_list li {
    margin-bottom: 50px;
    padding-top: 5vw;
    font-size: 2.8vw;
  }

  .right_list li:nth-last-of-type(2) {
    margin-bottom: 84px;
  }

  .right_list a {
    margin-right: 0;
    color: #52330D;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: minerva-modern, sans-serif;
  }

  .right_list a:hover {
    color: #B17F43;
  }

  .right_list a.c-button {
    font-size: 5.867vw;
    width: 67.467vw;
  }

  #kv_section {
    background-position: 20% center;
  }

  .kv_container {
    max-width: 400px;
  }

  .kv_text_wrap {
    margin-top: 8.7% 0 0 0;
  }

  .kv_slogan {
    width: 94%;
    height: 62px;
    margin-left: 6%;
    margin-bottom: 9px;
  }

  .kv_message {
    font-size: 1.2rem;
    margin-left: -5%;
  }

  .mv_bottle {
    display: none;
  }

  .sp_mv_bottle {
    /* display: inline-block;
    text-align: center; */
    display: none;
  }

  .campaign_container {
    max-width: 400px;
    height: 100%;
    margin: 0 auto;
    padding: 100px 0;
  }

  .section1_fruits_left {
    display: none;
  }

  .section1_fruits_right {
    display: none;
  }

  .sp_section1_fruits_left {
    margin-top: -10%;
    margin-left: 6.8%;
  }

  .sp_section1_fruits_right {
    margin-top: -30%;
    margin-left: 70%;
  }

  .sp_section1_fruits_left img {
    width: 76px;
    height: 73px;
  }

  .sp_section1_fruits_right img {
    width: 122px;
    height: 115px;
  }

  .campaign_product_wrap {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 41px;
  }

  .campaign_product_halfdozen {
    margin-right: 0;
  }

  .campaign_btn {
    font-size: 2rem;
  }

  .campaign_btn_triangle {
    width: 7%;
    height: 50%;
    margin-left: 12%;
    margin-bottom: -2%;
  }

  .limited_pack_title img {
    width: 224px;
    height: 64px;
  }

  .limited_pack_image img {
    width: 378px;
    height: 343px;
  }

  .limited_pack_image_second img {
    width: 378px;
    height: 343px;
  }

  #benefit_section {
    padding-bottom: 100px;
  }

  .benefit_container {
    max-width: 400px;
    padding: 100px 0;
  }

  .benefit_middle_section {
    background-size: cover;
    background-position: center;
    padding-bottom: 100%;
  }

  .benefit_top_section {
    margin-bottom: 0px;
  }

  .benefit_title {
    margin: 0 8.3% 0 8.3%;
    width: 316px;
    height: 118px;
  }

  .benefit_fruits {
    width: 148px;
    height: 172px;
    margin-top: -70%;
    margin-left: 70%;
    margin-bottom: 50%;
  }

  .cheers {
    width: 400px;
    height: 324px;
    padding-left: 0%;
  }

  .benefit_voices {
    margin-top: -200%;
  }

  .voice1 {
    width: 186px;
    height: 86px;
    /* margin: 0 auto 0 0; */
  }

  .voice2 {
    width: 185px;
    height: 86px;
    margin: 0 0 251px auto;
  }

  .voice3 {
    width: 372px;
    height: 86px;
    margin: 0 auto 23px 0;
  }

  .voice4 {
    width: 371px;
    height: 85px;
    margin: 0 0 0 auto;
  }

  .limited_middle_section_second {
    background-size: 50% ,50%, 50%, 100%;
  }

  .limited_pack_image_second {
    margin-top: 0px;
  }

  .section2_fruits_leftup {
    display: none;
  }

  .section2_fruits_rightdown {
    display: none;
  }

  .sp_section2_fruits_rightdown {
    display: inline-block;
    margin-top: -20%;
    margin-left: 65%;
  }

  .product_container {
    max-width: 400px;
  }

  .product_slogan_middle img {
    width: 298px;
    height: 49px;
  }

  .product_beer {
    display: none;
  }

  .fruits_beer {
    display: none;
  }

  .about_company {
    display: none;
  }

  .container {
    display: none;
  }
}